mysqldump: [Warning] Using a password on the command line interface can be insecure.
-- MySQL dump 10.13  Distrib 8.0.45, for Linux (x86_64)
--
-- Host: localhost    Database: scentify_db
-- ------------------------------------------------------
-- Server version	8.0.45

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `cart_items`
--

DROP TABLE IF EXISTS `cart_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cart_items` (
  `cartItemId` bigint NOT NULL AUTO_INCREMENT,
  `added_at` datetime(6) DEFAULT NULL,
  `quantity` int NOT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `cartId` bigint NOT NULL,
  `productId` char(3) NOT NULL,
  PRIMARY KEY (`cartItemId`),
  KEY `FKmdxq4wqg8j7ojn75ne7uhfghj` (`cartId`),
  KEY `FKld7k7jxuo00jnnjws80q6u3qn` (`productId`),
  CONSTRAINT `FKld7k7jxuo00jnnjws80q6u3qn` FOREIGN KEY (`productId`) REFERENCES `product` (`productId`),
  CONSTRAINT `FKmdxq4wqg8j7ojn75ne7uhfghj` FOREIGN KEY (`cartId`) REFERENCES `shopping_cart` (`cartId`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cart_items`
--

LOCK TABLES `cart_items` WRITE;
/*!40000 ALTER TABLE `cart_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `cart_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `customer`
--

DROP TABLE IF EXISTS `customer`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `customer` (
  `customerid` int NOT NULL AUTO_INCREMENT,
  `address` varchar(255) DEFAULT NULL,
  `city` varchar(50) DEFAULT NULL,
  `country` varchar(50) DEFAULT NULL,
  `created_date` datetime(6) DEFAULT NULL,
  `fullname` varchar(100) NOT NULL,
  `is_member` bit(1) DEFAULT NULL,
  `loyalty_points` int DEFAULT NULL,
  `phone` varchar(20) DEFAULT NULL,
  `preferred_scent_type` varchar(100) DEFAULT NULL,
  `updated_date` datetime(6) DEFAULT NULL,
  `userid` int NOT NULL,
  PRIMARY KEY (`customerid`),
  UNIQUE KEY `UK7fs7b2coc7qru1qcvy91erql4` (`userid`),
  CONSTRAINT `FKm6c7m2yovk9ppw34vo8huj79n` FOREIGN KEY (`userid`) REFERENCES `users` (`userid`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `customer`
--

LOCK TABLES `customer` WRITE;
/*!40000 ALTER TABLE `customer` DISABLE KEYS */;
/*!40000 ALTER TABLE `customer` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `invoices`
--

DROP TABLE IF EXISTS `invoices`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `invoices` (
  `invoiceId` bigint NOT NULL AUTO_INCREMENT,
  `invoiceDate` datetime(6) NOT NULL,
  `invoiceHtml` text,
  `invoiceNumber` varchar(50) NOT NULL,
  `paymentMethod` varchar(50) DEFAULT NULL,
  `paymentReference` varchar(100) DEFAULT NULL,
  `subtotal` decimal(10,2) NOT NULL,
  `tax` decimal(10,2) NOT NULL,
  `taxRate` varchar(20) DEFAULT NULL,
  `total` decimal(10,2) NOT NULL,
  `orderId` bigint NOT NULL,
  `paymentId` bigint DEFAULT NULL,
  PRIMARY KEY (`invoiceId`),
  UNIQUE KEY `UKgwqud8ggt742y8g83ke44qvx` (`invoiceNumber`),
  UNIQUE KEY `UKgqpnmmc9qr1sb2nfsk9a1amco` (`orderId`),
  UNIQUE KEY `UKmuwlejxj5j0vxsunff568k306` (`paymentId`),
  CONSTRAINT `FKkwv3mbtfs7s4t1fucjnl5k2w9` FOREIGN KEY (`paymentId`) REFERENCES `payments` (`paymentId`),
  CONSTRAINT `FKx74cvqt0f0n8ptskn44fsrmu` FOREIGN KEY (`orderId`) REFERENCES `orders` (`orderId`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `invoices`
--

LOCK TABLES `invoices` WRITE;
/*!40000 ALTER TABLE `invoices` DISABLE KEYS */;
INSERT INTO `invoices` VALUES (1,'2026-06-18 10:06:21.888333',NULL,'INV-20260618-7635','ToyyibPay','ebok316q',850.00,0.00,'0%',850.00,51,14),(2,'2026-06-18 11:02:59.969039',NULL,'INV-20260618-7882','ToyyibPay','boab882y',279.00,0.00,'0%',279.00,54,17),(3,'2026-06-22 07:57:35.890611',NULL,'INV-20260622-4100','ToyyibPay','ys1qv1r8',148.00,0.00,'0%',148.00,52,15),(4,'2026-06-22 13:23:35.410043',NULL,'INV-20260622-1999','ToyyibPay','hhxf81fy',578.00,0.00,'0%',578.00,53,16);
/*!40000 ALTER TABLE `invoices` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `membership_application`
--

DROP TABLE IF EXISTS `membership_application`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `membership_application` (
  `application_id` int NOT NULL AUTO_INCREMENT,
  `applied_date` datetime(6) NOT NULL,
  `approved_date` datetime(6) DEFAULT NULL,
  `notes` varchar(500) DEFAULT NULL,
  `rejection_reason` varchar(500) DEFAULT NULL,
  `application_status` varchar(20) NOT NULL,
  `terms_accepted` bit(1) NOT NULL,
  `customer_id` int NOT NULL,
  PRIMARY KEY (`application_id`),
  UNIQUE KEY `UKetxj6iqtr1lmtqvwiios6d47u` (`customer_id`),
  CONSTRAINT `FKkjabmuvq7xpb6onl7p9aywg6w` FOREIGN KEY (`customer_id`) REFERENCES `customer` (`customerid`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `membership_application`
--

LOCK TABLES `membership_application` WRITE;
/*!40000 ALTER TABLE `membership_application` DISABLE KEYS */;
INSERT INTO `membership_application` VALUES (1,'2026-05-02 08:55:46.300436','2026-05-02 09:32:40.080577',NULL,NULL,'APPROVED',_binary '',1),(2,'2026-06-04 02:04:20.547981','2026-06-04 02:05:14.505609',NULL,NULL,'APPROVED',_binary '',4),(3,'2026-06-22 08:16:18.673186','2026-06-22 08:16:47.881390',NULL,NULL,'APPROVED',_binary '',5);
/*!40000 ALTER TABLE `membership_application` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `order_items`
--

DROP TABLE IF EXISTS `order_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `order_items` (
  `orderItemId` bigint NOT NULL AUTO_INCREMENT,
  `price` decimal(10,2) NOT NULL,
  `quantity` int NOT NULL,
  `subtotal` decimal(10,2) NOT NULL,
  `orderId` bigint NOT NULL,
  `productId` varchar(255) NOT NULL,
  PRIMARY KEY (`orderItemId`),
  KEY `FK5dledqxrq55xmpqy9fr4cpbsu` (`orderId`),
  KEY `FKspfucjf8lis7m67anq798w566` (`productId`),
  CONSTRAINT `FK5dledqxrq55xmpqy9fr4cpbsu` FOREIGN KEY (`orderId`) REFERENCES `orders` (`orderId`),
  CONSTRAINT `FKspfucjf8lis7m67anq798w566` FOREIGN KEY (`productId`) REFERENCES `product` (`productId`)
) ENGINE=InnoDB AUTO_INCREMENT=26 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `order_items`
--

LOCK TABLES `order_items` WRITE;
/*!40000 ALTER TABLE `order_items` DISABLE KEYS */;
INSERT INTO `order_items` VALUES (12,850.00,1,850.00,49,'P4'),(13,850.00,1,850.00,50,'P4'),(14,850.00,1,850.00,51,'P4'),(15,148.00,1,148.00,52,'P13'),(16,450.00,1,450.00,53,'P5'),(17,128.00,1,128.00,53,'P12'),(18,149.00,1,149.00,54,'P10'),(19,130.00,1,130.00,54,'P11'),(20,625.00,1,625.00,55,'P7'),(21,130.00,1,130.00,56,'P11'),(22,1200.00,1,1200.00,57,'P2'),(23,850.00,1,850.00,58,'P6'),(24,850.00,1,850.00,59,'P6'),(25,850.00,1,850.00,60,'P6');
/*!40000 ALTER TABLE `order_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `order_voucher`
--

DROP TABLE IF EXISTS `order_voucher`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `order_voucher` (
  `order_voucher_id` int NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `customer_id` int NOT NULL,
  `discount_amount` decimal(38,2) NOT NULL,
  `order_id` int NOT NULL,
  `used_date` datetime(6) DEFAULT NULL,
  `voucher_id` int NOT NULL,
  PRIMARY KEY (`order_voucher_id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `order_voucher`
--

LOCK TABLES `order_voucher` WRITE;
/*!40000 ALTER TABLE `order_voucher` DISABLE KEYS */;
INSERT INTO `order_voucher` VALUES (1,'2026-05-03 07:30:50.602734',2,360.00,13,'2026-05-03 07:30:50.601145',1),(2,'2026-05-06 14:23:02.520034',2,360.00,23,'2026-05-06 14:23:02.515591',1),(3,'2026-05-06 14:24:26.189228',2,360.00,24,'2026-05-06 14:24:26.185865',1),(4,'2026-05-06 15:09:23.947700',2,360.00,28,'2026-05-06 15:09:23.943212',1),(5,'2026-06-04 01:26:15.077756',1,30.00,30,'2026-06-04 01:26:15.074700',1),(6,'2026-06-04 01:42:34.603287',1,30.00,33,'2026-06-04 01:42:34.598049',1),(7,'2026-06-04 02:07:31.668838',1,20.00,34,'2026-06-04 02:07:31.665892',4);
/*!40000 ALTER TABLE `order_voucher` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `orders`
--

DROP TABLE IF EXISTS `orders`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `orders` (
  `orderId` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `delivery_date` datetime(6) DEFAULT NULL,
  `order_date` datetime(6) DEFAULT NULL,
  `orderStatus` varchar(50) DEFAULT NULL,
  `shippingAddress` varchar(500) DEFAULT NULL,
  `totalPrice` decimal(10,2) DEFAULT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `customerId` int NOT NULL,
  `paymentStatus` varchar(50) DEFAULT NULL,
  `toyyibPayBillCode` varchar(100) DEFAULT NULL,
  `discountAmount` decimal(10,2) DEFAULT NULL,
  PRIMARY KEY (`orderId`),
  KEY `FK1ptw1l1kw6lk5o8mve55enocc` (`customerId`),
  CONSTRAINT `FK1ptw1l1kw6lk5o8mve55enocc` FOREIGN KEY (`customerId`) REFERENCES `customer` (`customerid`)
) ENGINE=InnoDB AUTO_INCREMENT=61 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `orders`
--

LOCK TABLES `orders` WRITE;
/*!40000 ALTER TABLE `orders` DISABLE KEYS */;
/*!40000 ALTER TABLE `orders` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payments`
--

DROP TABLE IF EXISTS `payments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `payments` (
  `paymentId` bigint NOT NULL AUTO_INCREMENT,
  `amount` decimal(10,2) DEFAULT NULL,
  `billCode` varchar(100) DEFAULT NULL,
  `completed_at` datetime(6) DEFAULT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `paymentStatus` varchar(50) DEFAULT NULL,
  `paymentUrl` varchar(500) DEFAULT NULL,
  `orderId` bigint NOT NULL,
  PRIMARY KEY (`paymentId`),
  KEY `FKhfe6e52jm7yfp2po54otdhmey` (`orderId`),
  CONSTRAINT `FKhfe6e52jm7yfp2po54otdhmey` FOREIGN KEY (`orderId`) REFERENCES `orders` (`orderId`)
) ENGINE=InnoDB AUTO_INCREMENT=22 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payments`
--

LOCK TABLES `payments` WRITE;
/*!40000 ALTER TABLE `payments` DISABLE KEYS */;
/*!40000 ALTER TABLE `payments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `product`
--

DROP TABLE IF EXISTS `product`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `product` (
  `productId` varchar(50) NOT NULL,
  `approvalStatus` varchar(20) DEFAULT NULL,
  `baseNotes` varchar(50) DEFAULT NULL,
  `category` varchar(100) NOT NULL,
  `createdAt` datetime(6) DEFAULT NULL,
  `description` text,
  `middleNotes` varchar(50) DEFAULT NULL,
  `price` double DEFAULT NULL,
  `prodimage` varchar(200) NOT NULL,
  `productName` varchar(100) NOT NULL,
  `stock` int DEFAULT NULL,
  `topNotes` varchar(50) DEFAULT NULL,
  `updatedAt` datetime(6) DEFAULT NULL,
  `userId` int NOT NULL,
  `fragranceFamily` varchar(50) DEFAULT NULL,
  `genderExpression` varchar(50) DEFAULT NULL,
  `intensity` varchar(50) DEFAULT NULL,
  `longevity` varchar(50) DEFAULT NULL,
  `naturalness` varchar(50) DEFAULT NULL,
  `occasion` varchar(50) DEFAULT NULL,
  `season` varchar(50) DEFAULT NULL,
  `sillage` varchar(50) DEFAULT NULL,
  `sweetness` int DEFAULT NULL,
  PRIMARY KEY (`productId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `product`
--

LOCK TABLES `product` WRITE;
/*!40000 ALTER TABLE `product` DISABLE KEYS */;
/*!40000 ALTER TABLE `product` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `promotion_voucher`
--

DROP TABLE IF EXISTS `promotion_voucher`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `promotion_voucher` (
  `voucher_id` int NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `current_usage` int DEFAULT NULL,
  `description` varchar(255) DEFAULT NULL,
  `discount_type` enum('FIXED_AMOUNT','PERCENTAGE') NOT NULL,
  `discount_value` decimal(38,2) NOT NULL,
  `end_date` datetime(6) DEFAULT NULL,
  `is_active` bit(1) DEFAULT NULL,
  `max_usage` int DEFAULT NULL,
  `min_purchase_amount` decimal(38,2) DEFAULT NULL,
  `start_date` datetime(6) DEFAULT NULL,
  `supplier_id` int NOT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `voucher_code` varchar(50) NOT NULL,
  PRIMARY KEY (`voucher_id`),
  UNIQUE KEY `UKt0xt1agvqe50nutlljuxi1hnf` (`voucher_code`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `promotion_voucher`
--

LOCK TABLES `promotion_voucher` WRITE;
/*!40000 ALTER TABLE `promotion_voucher` DISABLE KEYS */;
INSERT INTO `promotion_voucher` VALUES (1,'2026-04-21 07:24:28.152021',6,'Summer discount','FIXED_AMOUNT',30.00,'2026-06-30 01:49:00.000000',_binary '',20,800.00,'2026-06-01 01:49:00.000000',3,'2026-06-04 01:42:34.637495','AAA'),(2,'2026-06-03 17:36:30.950226',0,'Happy New Year','PERCENTAGE',20.00,NULL,_binary '',5,500.00,NULL,3,'2026-06-03 17:52:14.555076','BBB'),(3,'2026-06-04 01:44:24.591859',0,'Winter Seasonal ','FIXED_AMOUNT',15.00,'2026-06-11 01:44:00.000000',_binary '',10,200.00,'2026-06-04 01:44:00.000000',3,'2026-06-04 01:44:24.591859','CCC');
/*!40000 ALTER TABLE `promotion_voucher` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `review`
--

DROP TABLE IF EXISTS `review`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `review` (
  `reviewId` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `helpfulCount` int DEFAULT NULL,
  `rating` int DEFAULT NULL,
  `reviewStatus` varchar(50) DEFAULT NULL,
  `reviewText` varchar(1000) DEFAULT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `customerId` int NOT NULL,
  `productId` char(3) NOT NULL,
  PRIMARY KEY (`reviewId`),
  KEY `FKgc29k07q360imu02vxo5t6ugy` (`customerId`),
  KEY `FKtdg94lyg1t8x0khj3p9g9y546` (`productId`),
  CONSTRAINT `FKgc29k07q360imu02vxo5t6ugy` FOREIGN KEY (`customerId`) REFERENCES `customer` (`customerid`),
  CONSTRAINT `FKtdg94lyg1t8x0khj3p9g9y546` FOREIGN KEY (`productId`) REFERENCES `product` (`productId`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `review`
--

LOCK TABLES `review` WRITE;
/*!40000 ALTER TABLE `review` DISABLE KEYS */;
/*!40000 ALTER TABLE `review` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `review_reply`
--

DROP TABLE IF EXISTS `review_reply`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `review_reply` (
  `replyId` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `replyText` varchar(1000) DEFAULT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `reviewId` bigint NOT NULL,
  `supplierId` int NOT NULL,
  PRIMARY KEY (`replyId`),
  UNIQUE KEY `UKpm3cbtkn9pyrfy667os5l48wr` (`reviewId`),
  KEY `FKs7okpj5l72x7khlsbf0v00c9q` (`supplierId`),
  CONSTRAINT `FK3v46twuvrnybatislbmxpka34` FOREIGN KEY (`reviewId`) REFERENCES `review` (`reviewId`),
  CONSTRAINT `FKs7okpj5l72x7khlsbf0v00c9q` FOREIGN KEY (`supplierId`) REFERENCES `supplier` (`supplierid`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `review_reply`
--

LOCK TABLES `review_reply` WRITE;
/*!40000 ALTER TABLE `review_reply` DISABLE KEYS */;
INSERT INTO `review_reply` VALUES (1,'2026-05-03 08:02:12.962318','Thank you for reviewing! Your support means a lot','2026-05-03 08:02:12.962318',1,1);
/*!40000 ALTER TABLE `review_reply` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `shopping_cart`
--

DROP TABLE IF EXISTS `shopping_cart`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `shopping_cart` (
  `cartId` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `customerId` int NOT NULL,
  PRIMARY KEY (`cartId`),
  KEY `FK8echgp1x4kwf8y65pb2oeevgr` (`customerId`),
  CONSTRAINT `FK8echgp1x4kwf8y65pb2oeevgr` FOREIGN KEY (`customerId`) REFERENCES `customer` (`customerid`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `shopping_cart`
--

LOCK TABLES `shopping_cart` WRITE;
/*!40000 ALTER TABLE `shopping_cart` DISABLE KEYS */;
INSERT INTO `shopping_cart` VALUES (1,'2026-04-17 15:05:49.363512','2026-06-18 05:47:25.098989',1),(2,'2026-05-02 06:57:56.751294','2026-06-18 10:40:52.363917',2);
/*!40000 ALTER TABLE `shopping_cart` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `supplier`
--

DROP TABLE IF EXISTS `supplier`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `supplier` (
  `supplierid` int NOT NULL AUTO_INCREMENT,
  `approvalDate` datetime(6) DEFAULT NULL,
  `approvalNotes` text,
  `approvalStatus` varchar(20) DEFAULT NULL,
  `brandName` varchar(100) NOT NULL,
  `businessRegistration` varchar(255) DEFAULT NULL,
  `created_date` datetime(6) DEFAULT NULL,
  `updated_date` datetime(6) DEFAULT NULL,
  `userid` int NOT NULL,
  PRIMARY KEY (`supplierid`),
  UNIQUE KEY `UK84ob2ukf2r0sm23cyvem8ahr3` (`userid`),
  CONSTRAINT `FKtjudach3ttfflrrq39v3qmb6j` FOREIGN KEY (`userid`) REFERENCES `users` (`userid`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `supplier`
--

LOCK TABLES `supplier` WRITE;
/*!40000 ALTER TABLE `supplier` DISABLE KEYS */;
INSERT INTO `supplier` VALUES (1,'2026-04-15 15:10:38.548929',NULL,'approved','Dior','Dior_MY_f1de03f1-42a6-42fb-8ff3-fac84415dec8.pdf','2026-04-15 15:09:58.461164','2026-04-15 15:10:38.566713',3),(2,'2026-06-09 10:22:04.275467',NULL,'approved','SugarBomb','SugarBomb_MY_94f77ea5-d8dd-413c-97fa-c70c12e1d381.pdf','2026-06-09 10:21:00.064984','2026-06-09 10:22:04.280222',7);
/*!40000 ALTER TABLE `supplier` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `userid` int NOT NULL AUTO_INCREMENT,
  `created_date` datetime(6) DEFAULT NULL,
  `email` varchar(100) NOT NULL,
  `password` varchar(255) NOT NULL,
  `role` varchar(20) NOT NULL,
  `updated_date` datetime(6) DEFAULT NULL,
  `username` varchar(50) NOT NULL,
  PRIMARY KEY (`userid`),
  UNIQUE KEY `UK6dotkott2kjsp8vw4d0m25fb7` (`email`),
  UNIQUE KEY `UKr43af9ap4edm43mmtq01oddj6` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `voucher_product`
--

DROP TABLE IF EXISTS `voucher_product`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `voucher_product` (
  `id` int NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `product_id` varchar(255) NOT NULL,
  `voucher_id` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FK1dc5pf6viip53x2j6cr1jhjiq` (`voucher_id`),
  CONSTRAINT `FK1dc5pf6viip53x2j6cr1jhjiq` FOREIGN KEY (`voucher_id`) REFERENCES `promotion_voucher` (`voucher_id`)
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `voucher_product`
--

LOCK TABLES `voucher_product` WRITE;
/*!40000 ALTER TABLE `voucher_product` DISABLE KEYS */;
INSERT INTO `voucher_product` VALUES (8,'2026-06-03 01:50:28.028814','P1',1),(9,'2026-06-03 01:50:28.044739','P2',1),(10,'2026-06-03 17:36:40.892200','P6',2),(11,'2026-06-03 17:36:40.908491','P7',2),(12,'2026-06-04 01:44:37.800354','P7',3);
/*!40000 ALTER TABLE `voucher_product` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-06-22 17:36:52
